body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  color: #333;
  height: 100%; 
  overflow: hidden;

}

header {
  background: #333;
  color: white;
  padding: 20px;
  text-align: center;
}

section {
  padding: 20px;
  margin: 20px;
  background: white;
  border-radius: 8px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

h1, h2 {
  color: #222;
}

a {
  color: #007BFF;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}


.nav-container {
  display: flex;
  padding: 5px 0px 5px 0px;
  gap: 15px;
  justify-content: space-between;
  align-items: center;
  background-color: #333;
  color: #f4f4f4;
}

.icon {
  display: flex;
  align-items: center;
  gap: 10px;
}

.logo{
  margin-left: 10px;
}

.name {
  padding-top: 2px;
}

.date {
  font-family: 'Roboto Mono', monospace;
  padding-right: 10px;
}

.video-container {
  position: relative;
  width: 100%;
  height: 100vh; /* Tam ekran yapılması için */
  overflow: hidden;
}

.video-background {
  position: absolute; /* Mutlak konumlandırma ile video arka planda olacak */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: contain; /* Video, ekranı tamamen kaplasın */
  z-index: -1; /* Video arka planda olacak */
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3); /* Siyah ve %80 opaklık */
  pointer-events: none; /* Katman tıklanabilir olmasın */
}

.noise {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('/media/noise.png');
  background-size: cover;
  opacity: 0.4; /* Gürültü efekti görünür olsun diye saydamlık */
  pointer-events: none; /* Tıklanabilir yapma */
  animation: noisemove 0.6s steps(4, end) infinite;
}

/* Gürültü hareket animasyonu */
@keyframes noisemove {
  0% { background-position: 0 0; }
  25% { background-position: -100% 0; }
  50% { background-position: 0 100%; }
  75% { background-position: -100% 100%; }
  100% { background-position: 0 0; }
}

.about-section {
  display: flex;
  flex-direction: column;
  position: absolute;
  width: 150px;
  top: 10%;
  right: 5%
}
.about-section p {
  font-size:0.9rem;
  margin: 5px 0px 0 20px;
  padding: 0;
  font-family: 'Roboto Mono', monospace;
  font-weight: bold;
}

.modal {
  display: none;
  position: absolute;
  z-index: 1;  
  left: 25%;
  top: 10%;
  width: auto;
  height: 80%;

}


.resume-section a{
  display: flex;
  flex-direction: column;
  position: absolute;
  width: 125px;
  top: 80%;
  right: 5%;
  color:#333
}
.resume-section p {
  font-size: 1rem;
  margin: 5px 0px 0 15px;
  padding: 0;
  font-family: 'Roboto Mono', monospace;
  font-weight: bold;
}

.contact-section a {
  display: flex;
  flex-direction: column;
  position: absolute;
  width: 100px;
  height: 100;
  top: 30%;
  right: 15%
}
.contact-section p {
  font-size: 1rem;
  margin: 5px 0px 0 25px;
  padding: 0;
  font-family: 'Roboto Mono', monospace;
  font-weight: bold;
  color: #333;
}

.dailynote-section a {
  display: flex;
  flex-direction: column;
  position: absolute;
  width: 100px;
  height: 100px;
  top: 30%;
  right: 6%
}
.dailynote-section p {
  font-size: 1rem;
  margin: 5px 0px 0 25px;
  padding: 0;
  font-family: 'Roboto Mono', monospace;
  font-weight: bold;
  color: #333;
}

.github-section a {
  display: flex;
  flex-direction: column;
  position: absolute;
  width: 140px;
  height: 140px;
  top: 50%;
  right: 6%
}
.github-section p {
  font-size: 1rem;
  margin: 5px 0px 0 45px;
  padding: 0;
  font-family: 'Roboto Mono', monospace;
  font-weight: bold;
  color: #333;
}

.quote {
  position: absolute;
  width: 150px;
  height: 200px;
  top: 55%;
  right: 17%;
  color: black;
  background-color: white;
  font-size: 0.8rem;
  font-weight: 700;
  text-align: center;
  padding: 20px;
  font-style: italic;
}

.giphy-section  {
  display: flex;
  position: absolute;
  flex-direction: column;
  width: 100px;
  height: 100px;
  top: 70%;
  right: 14%;
}

.linkedin-section a {
  display: flex;
  flex-direction: column;
  position: absolute;
  width: 90px;
  height: 90px;
  top: 30%;
  left: 2.5%
}
.linkedin-section p {
  font-size: 1rem;
  margin: 0px 0px 0 10px;
  padding: 0;
  font-family: 'Roboto Mono', monospace;
  font-weight: bold;
  color: #333;
}

.quizcraft-section a {
  display: flex;
  flex-direction: column;
  position: absolute;
  width: 100px;
  height: 100px;
  top: 45%;
  left: 2%
}
.quizcraft-section p {
  font-size: 1rem;
  margin: 0px 0px 0 10px;
  padding: 0;
  font-family: 'Roboto Mono', monospace;
  font-weight: bold;
  color: #333;
}

.manual-section  {
  display: flex;
  flex-direction: column;
  position: absolute;
  width: 120px;
  height: 120px;
  top: 10%;
  left: 2%
}
.manual-section p {
  font-size: 1rem;
  margin: 0px 0px 0 10px;
  padding: 0;
  font-family: 'Roboto Mono', monospace;
  font-weight: bold;
  color: #333;
}


.modal2 {
  display: none;
  position: absolute;
  z-index: 1;  
  left: 20%;
  top: 10%;
  width: auto;
  height: 80%;

}

.bytebuddy-section  {
  display: flex;
  flex-direction: column;
  position: absolute;

  top: 80%;
  left: 5%;
}

.bytebuddy-image{
  border-radius: 25%;
  border-width: 10px;
  width: 70px;
  height: 70px;
}

.bytebuddy-section p {
  font-size: 1rem;
  margin: 0px 0px 0 -10px;
  padding: 0;
  font-family: 'Roboto Mono', monospace;
  font-weight: bold;
  color: #333;
}
