body {
  font-family: 'Roboto Mono', monospace;
  font-weight: bold;  
  margin: 0;
  padding: 0;
  color: #333;
  height: 100%; 
  overflow: hidden;
}

header {
  background: #333;
  color: white;
  padding: 20px;
  text-align: center;
}

a {
  display: flex;
  flex-direction: column;
  position: absolute;
  color:#333;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

p{
  font-size: 1rem;
}

.nav-container {
  display: flex;
  padding: 5px 0px 5px 0px;
  gap: 15px;
  justify-content: space-between;
  align-items: center;
  background-color: #333;
  color: #f4f4f4;
}

.icon {
  display: flex;
  align-items: center;
  gap: 10px;
  padding-top: 5px;
}

.logo{
  margin-left: 10px;
}

.name {
  padding: 2px;
  margin: 0px;
  font-size: 1rem;
  color: #f4f4f4;
  font-weight: 400;
}

.date {
  font-family: 'Roboto Mono', monospace;
  padding-right: 10px;
}

.video-container {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.video-background {
  position: absolute; 
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: contain; 
  z-index: -1; 
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3); 
  pointer-events: none; 
}

.noise {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('/media/noise.png');
  background-size: cover;
  opacity: 0.4; 
  pointer-events: none; 
  animation: noisemove 0.6s steps(4, end) infinite;
}

/* Gürültü hareket animasyonu  */
@keyframes noisemove {
  0% { background-position: 0 0; }
  25% { background-position: -100% 0; }
  50% { background-position: 0 100%; }
  75% { background-position: -100% 100%; }
  100% { background-position: 0 0; }
}

.section{
  display: flex;
  flex-direction: column;
  position: absolute;
}

.about {
  width: 150px;
  top: 10%;
  right: 5%
}

.about p {
  margin: 0px 0px 0 35px;
}

.modal {
  display: none;
  position: absolute;
  z-index: 1;  
  left: 25%;
  top: 10%;
  width: auto;
  height: 80%;
}

.resume a{
  width: 125px;
  top: 70%;
  left: 5%;
}

.resume p {
  margin: 5px 0px 0 30px;
}

.contact a {
  width: 100px;
  height: 100;
  top: 30%;
  right: 15%
}

.contact p {
  margin: 5px 0px 0 25px;
}

.dailynote a {
  width: 100px;
  height: 100px;
  top: 30%;
  right: 6%
}

.dailynote p {
  margin: 5px 0px 0 25px;
}

.github a {
  width: 140px;
  height: 140px;
  top: 50%;
  right: 6%
}

.github p {
  margin: 5px 0px 0 45px;
}

.quote {
  position: absolute;
  width: 150px;
  height: 200px;
  top: 55%;
  right: 17%;
  background-color: white;
  padding: 20px;
}

.quote p {
  margin: 0px;
  font-size: 0.8rem;
  font-weight: 700;
  font-style: italic;
  text-align: center;
}

.giphy  {
  display: flex;
  position: absolute;
  flex-direction: column;
  width: 100px;
  height: 100px;
  top: 72%;
  right: 13%;
}

.linkedin a {
  width: 90px;
  height: 90px;
  top: 30%;
  left: 2.5%
}

.linkedin p {
  margin: 0px 0px 0 10px;
}

.quizcraft a {
  width: 100px;
  height: 100px;
  top: 45%;
  left: 2%
}

.quizcraft p {
  margin: 0px 0px 0 10px;
}

.manual  {
  width: 120px;
  height: 120px;
  top: 10%;
  left: 2%
}
.manual p {
  margin: 0px 0px 0 10px;
}

.modal2 {
  display: none;
  position: absolute;
  z-index: 1;  
  left: 20%;
  top: 10%;
  width: auto;
  height: 80%;
}

.bytebuddy a {
  top: 80%;
  right: 5%;
}

.bytebuddy-image{
  border-radius: 25%;
  border-width: 10px;
  width: 70px;
  height: 70px;
}

.bytebuddy p {
  margin: 0px 0px 0 -10px;
}


@media (max-width: 768px) {
  body {  
    font-size: 12px;
  }

  p{
    font-size: 10px;
  }

  .name{
    font-size: 14px;
    padding-top: 6px;
  }
  .date{
    padding-top: 6px;
  }

  .about {
    width: 100px;
    top: 10%;
    right: 5%
  }
  
  .about p {
    margin: 0px 0px 0 25px;
  }

  .modal {
    left: 0px;
    top: 10%;
    width: auto;
    height: 45%;
  }

  .resume a{
  width: 80px;
  top: 70%;
  left: 5%;
  }

  .resume p {
  margin: 5px 0px 0 20px;
  }

  .contact a {
    width: 60px;
    top: 30%;
    right: 30%
  }
  
  .contact p {
    margin: 5px 0px 0 15px;
  }

  .dailynote a {
    width: 60px;
    top: 27%;

  }
  
  .dailynote p {
    margin: 5px 0px 0 15px;
  }

  .github a {
    width: 120px;
    height: 120px;
    top: 40%;
  }
  
  .github p {
    margin: -10px 0px 0 45px;
  }


  .quote {
  width: 100px;
  height: 150px;
  top: 60%;
  right: 17%;
  padding: 10px;
  }

  .quote p {
  margin: 0px;
  margin-top: -5px;
  font-size: 7px;
  }

  .giphy  {
  width: 50px;
  top: 76%;
  right: 9%;
  }

  .manual  {
    width: 100px;
  }
  .manual p {
    margin: 0px 0px 0 17px;
  }
  
  .linkedin a {
  width: 70px;
  }

  .linkedin p {
  margin: 0px 0px 0 12px;
  }

  .quizcraft a {
  width: 50px;
  left: 7%
  }

  .quizcraft p {
  margin: 0px 0px 0 0px;
  }

  .bytebuddy a {
    top: 87%;
    right: 5%;
  }
  
  .bytebuddy-image{
    width: 50px;
    height: 50px;
  }
  
  .bytebuddy p {
    margin: 5px 0px 0 2px;
  }

  .modal2 {  
    padding: 0px;
    margin: 0px;
    left: 0px;
    top: 10%;
    width: auto;
    height:45%;
  }

}